$c_orange: #ee5a35;
$c_black: #12161d;
$c_grey: #2a3342;
$c_dark_grey: #181f2b;
$c_light_grey: #314957;
$c_light_grey_text: #547283;
$c_blue: #3D5A80;
$c_white: #E0FBFC;

$t_window_size: 46vh;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

#focus {
    width: calc(600px + 10vw);
    height: calc($t_window_size + 30vh);
    margin-top: calc(-1 * (100vh - $t_window_size - 20vh));

    .top_row {
        ul {
            .unfocues_file {
                color: $c_light_grey_text;
                background-color: $c_dark_grey;

            }

            .focues_file {
                color: $c_black;
                background-color: $c_orange;
            }
        }
    }

    .sum {
        display: none;
        visibility: hidden;
    }

    .desc {
        display: block;
        visibility: visible;
    }
}

.heading {
    background-color: $c_dark_grey;
    height: calc(100vh - $t_window_size - 80px);
    width: 100%;
    transition: left .5s;
    transition: right .5s;
    position: relative;
    // background-image: url("../imgs/main_background.png");

    .rust_log {
        position: absolute;
        width: 200px;
        height: 200px;
    }

    .rust_log1 {
        left: -20px;
        bottom: -29px;
        transform: rotate(20deg);
        transform: scale(200px);
    }

    .rust_log2 {
        right: -20px;
        top: 20px;
        transform: rotate(-16deg);

    }

    .heading-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: left .5s;
        left: calc(50% - calc(calc(55vh - 4vw) / 2));
        top: calc(50% - calc(23vh / 2));
        width: calc(55vh - 4vw);
        height: 23vh;

        h1 {
            color: $c_white;
            font-size: calc(25vh - 4vw);
            margin-left: calc(23vh/2);

            .cursor {
                width: calc(55vh - 4vw);
                height: 23vh;
                z-index: 1;
                animation: blink 1.1s infinite 1s;
            }

            @keyframes blink {
                0% {
                    opacity: 0;
                }

                49% {
                    opacity: 0;

                }

                50% {
                    opacity: 1;
                }
            }
        }

        h2 {
            color: $c_white;
            font-size: 2vh;
        }
    }
}

body {
    min-width: 375px;
    background-color: $c_black;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    .cards {
        width: 100%;
        height: 100%;
        position: relative;

        .t_window_div {
            border: 2px solid $c_light_grey;
            background-color: $c_black;
            border-radius: 5px;
            font-size: 16px;
            transition: width 500ms, height 500ms, margin 500ms;
            overflow-y: none;

            .top_row {
                width: 100%;
                height: 25px;
                background-color: $c_dark_grey;
                float: right;
                display: flex;
                align-items: center;
                border-bottom: 1px solid $c_grey;

                ul {
                    list-style: none;

                    .unfocues_file {
                        color: $c_black;
                        background-color: $c_orange;
                        border-radius: 2px;
                    }

                    .focues_file {
                        color: $c_light_grey_text;
                        border-radius: 2px;
                        background-color: $c_dark_grey;
                    }

                    li {
                        font-size: 17px;
                        float: left;
                        margin-left: 10px;
                        font-size: 12px;
                        color: $c_light_grey_text;
                    }
                }
            }

            .title_bar {
                border-radius: 3px;
                height: 30px;
                width: 100%;
                background-color: $c_grey;
                color: $c_white;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid $c_light_grey;

                p {
                    font-size: 16px;
                    margin-left: 5px;
                    margin-right: 5px;
                    margin-top: 2px;
                }

                .icons {
                    height: 100%;
                    width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .button {
                        height: 90%;
                        width: 30px;
                        margin: 2px;
                        background-size: 15px;
                        background-position: center;
                        background-repeat: no-repeat;
                        border-radius: 2px;
                        transition: background-color 500ms;
                    }

                    .button:hover {
                        background-color: $c_orange;
                        border-radius: 5px;

                    }

                    .minimalize {
                        background-image: url(../imgs/minim.png);
                    }

                    .fullscreen {
                        background-image: url(../imgs/fulls.png);
                    }

                    .close {
                        background-image: url(../imgs/close.png);
                    }
                }
            }
        }

        .line_numbers {
            margin-top: 1px;
            height: calc(100% - 30px - 25px);
            width: 30px;
            float: left;
            border-right: 1px solid $c_grey;
            background-color: $c_dark_grey;
            overflow-y: hidden;

            ol {

                list-style-type: decimal;
                list-style-position: inside;

                li {
                    margin-right: 2px;
                    text-align: right;
                    display: block;
                    color: $c_light_grey_text;
                    counter-increment: customlistcounter;

                }

                li:before {
                    content: counter(customlistcounter) " ";
                    counter-increment: item;
                }
            }
        }

        h1 {
            color: $c_blue;
            font-size: 16px;
        }

        h2 {
            font-size: 16px;
            color: $c_orange;
        }

        p {
            font-size: 16px;
            color: $c_white;
        }

        a {
            font-size: 16px;
            color: $c_light_grey;
            text-decoration: none;
            transition: all 300ms;
        }

        a:hover {
            color: $c_blue;
        }
    }

    .navbar {
        position: relative;
        width: 100%;
        height: 60px;
        background-color: $c_grey;
        display: flex;
        justify-content: space-around;
        align-items: center;

        ul {
            list-style: none;

            li {
                font-size: 17px;
                float: right;
                margin: 10px;

                a {
                    color: $c_black;
                    text-decoration: none;
                }
            }
        }
    }

    main {
        width: 100%;
        height: 100%;

        .index {
            .cards {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .t_window_div {
                    width: 600px;
                    margin: 10px;
                    height: $t_window_size;

                    .content {
                        transition: visibility 200ms;
                    }

                    .sum {
                        display: block;
                        visibility: visible;

                    }

                    .desc {
                        display: none;
                        visibility: hidden;

                    }
                }
            }

            position: absolute;
            background-color: $c_black ;
            width: 100%;

            .navbar {
                margin-top: 0;
                width: 100%;
                height: 60px;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $c_grey;
                display: flex;
                justify-content: end;
                align-items: center;

                ul {

                    li {
                        font-size: 17px;
                        float: right;
                        margin-right: 30px;

                        a {
                            color: #F7F4ED;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .status {
            position: absolute;
            width: 100%;
            height: calc(100% - 60px);

            .cards {
                display: grid;
                background-color: $c_dark_grey;
                color: #444;
                padding: 10px;
                transition: 300ms;


                .t_window_div {
                    border-radius: 5px;

                }

                .docs {
                    grid-column: 1;
                    overflow: hidden;
                    grid-row: 1;

                    .title_bar {
                        width: calc(100%);
                        border-radius: 5px 5px 0px 0px;
                    }

                    .t_window_inner {
                        position: relative;
                        height: calc(100% - 30px);
                        width: 100%;
                        display: flex;


                        .t_window_inner_nav {
                            margin: 10px;
                            width: 20%;
                            background-color: $c_grey;
                            height: calc(100% - 20px);
                            border-radius: 5px;
                            transition: all .5s;


                            .normal {
                                li {
                                    list-style: none;
                                    padding: 10px;
                                    color: #F7F4ED;
                                    transition: all .3s;
                                }

                                li:hover {
                                    cursor: pointer;
                                    background-color: $c_light_grey;
                                    transition: all .3s;
                                    border-radius: 5px;

                                }
                            }

                            #selected {
                                background-color: $c_light_grey_text;
                                border-radius: 5px;

                            }
                        }

                        .t_window_inner_content {
                            margin: 10px 10px 10px 0px;
                            background-color: $c_dark_grey;
                            border-radius: 5px;
                            box-sizing: content-box;
                            width: 100%;
                            height: calc(100% - 20px);
                            display: flex;


                            .window_content {
                                height: 100%;
                                width: 100%;
                                overflow-y: scroll;
                                border-radius: 5px;


                                .page_header {
                                    background-color: rebeccapurple;
                                    width: 100%;
                                    height: 30%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    h3 {
                                        color: $c_white;
                                        font-size: calc(5.5vh);
                                        text-align: center;
                                    }

                                }

                                .page_content {
                                    background-color: palevioletred;
                                    width: 100%;
                                    min-height: fit-content;
                                    display: flex;
                                    flex-direction: column;


                                    .card_description {
                                        width: 80%;
                                        margin: 0px auto;
                                    }

                                    h3 {
                                        margin-top: 30px;
                                        color: $c_white;
                                        font-size: calc(3.5vh);
                                        text-align: center;
                                    }

                                    .page_cards {
                                        background-color: #00798C;
                                        margin-top: 30px;
                                        padding: 30px;
                                        width: 100%;
                                        height: fit-content;
                                        display: flex;
                                        flex-direction: row;
                                        flex-wrap: wrap;
                                        align-items: center;
                                        justify-content: space-evenly;

                                        .page_card {
                                            border-radius: 5px;
                                            margin: 20px;
                                            width: 300px;
                                            height: 200px;
                                            background-color: $c_dark_grey;
                                            position: relative;
                                            transition: all .3s;

                                            .page_card_img {
                                                background-color: red;
                                                z-index: 2;
                                                position: absolute;
                                                width: 100%;
                                                height: 150px;
                                                border-radius: 5px 5px 0px 0px;
                                            }

                                            .page_card_description {
                                                background-color: blue;
                                                bottom: 50px;
                                                position: absolute;
                                                z-index: 1;
                                                width: 100%;
                                                height: 100px;
                                            }

                                            .page_card_title {
                                                background-color: green;
                                                bottom: 0px;
                                                z-index: 1;
                                                position: absolute;
                                                width: 100%;
                                                height: 50px;
                                                border-radius: 0px 0px 5px 5px;
                                            }
                                        }

                                        .page_card:hover {
                                            cursor: pointer;
                                            height: 300px;
                                        }
                                    }
                                }

                                .page_footer {
                                    background-color: pink;
                                    width: 100%;
                                    height: 20%;

                                }

                                #Audio {}

                                #GUI {}

                                #ML {}

                                #QC {}

                                #WD {}

                                #CR {}

                            }
                        }

                        .content {
                            display: none;
                        }
                    }
                }
            }
        }

        .learn {
            position: absolute;
            width: 100%;
            height: calc(100% - 60px);

            .cards {
                display: grid;
                grid-gap: 10px;
                grid-template-columns: 100% calc(40% - 10px);
                grid-template-rows: 70% calc(30% - 10px);
                background-color: $c_dark_grey;
                color: #444;
                padding: 10px;
                transition: 300ms;


                .docs {
                    grid-column: 1;
                    grid-row: 1 / 3;

                    .title_bar {
                        width: 100% !important;
                        border-radius: 5px 5px 0px 0px;
                    }

                    .t_window_inner {
                        position: relative;
                        height: calc(100% - 30px);
                        width: 100%;
                        display: flex;

                        .t_window_inner_nav {
                            margin: 10px;
                            width: 20%;
                            background-color: $c_grey;
                            height: calc(100% - 20px);
                            border-radius: 5px;
                            transition: all .5s;
    
                            .normal {
                                li {
                                    list-style: none;
                                    padding: 10px;
                                    color: #F7F4ED;
                                    transition: all .3s;
                                }

                                li:hover {
                                    cursor: pointer;
                                    background-color: $c_light_grey;
                                    transition: all .3s;
                                    border-radius: 5px;

                                }
                            }

                            #selected {
                                background-color: $c_light_grey_text;
                                border-radius: 5px;

                            }
                        }

                        .t_window_inner_content {
                            margin: 10px 10px 10px 0px;
                            background-color: $c_dark_grey;
                            border-radius: 5px;
                            width: 100%;
                            height: calc(100% - 20px);
    
                            #main_content {
                                height: 100%;
                                width: 100%;
                                overflow-y: scroll;
                                border-radius: 5px;  

                                code {
                                    background-color: $c_black;
                                    color: $c_light_grey_text;
                                    padding: 3px;
                                    border-radius: 3px;
                                    
                                }

                                .rust-c {
                                    cursor: pointer;
                                    background-color: $c_orange;
                                    color: $c_dark_grey;
                                }
                                
                                .t_table {
                                    width: 100%;
                                    display: flex;
                                    justify-content: flex-end;
                                    flex-direction: row-reverse;

                                    div {
                                        margin-right: 20px;
                                        width: 50% ;
                                    }

                                    table {
                                        border: 3px #ee5a35 solid;
                                        border-radius: 5px;
                                        padding: 3px;

                                        tr {

                                            background-color: #12161d;
                                            th {
                                                background-color: #00798C;
                                            }
                                            
                                            td {
                                                text-align: center;
                                                padding: 4px;

                                            }
                                        }
                                    }
                                }
                            }
                            
                        }
                    }                    
                }

                .term {
                    grid-column: 2;
                    grid-row: 2;
                    
                    .content {
                        height: calc(100% - 30px);
                        overflow-y: scroll;
                    }
                }

                .editor {
                    grid-column: 2;
                    grid-row: 1;
                }

                .t_window_div {
                    .sub_content {
                        display: none;
                    }
                }
            }
        }

        .news {
            position: absolute;
            width: 100%;
            height: calc(100% - 60px);

            .cards {
                display: grid;
                background-color: $c_dark_grey;
                color: #444;
                padding: 10px;
                transition: 300ms;


                .t_window_div {
                    border-radius: 5px;

                }

                .docs {
                    grid-column: 1;
                    overflow: hidden;
                    grid-row: 1;

                    .title_bar {
                        width: calc(100%);
                        border-radius: 5px 5px 0px 0px;
                    }

                    .t_window_inner {
                        position: relative;
                        height: calc(100% - 30px);
                        width: 100%;
                        display: flex;


                        .t_window_inner_nav {
                            margin: 10px;
                            width: 20%;
                            background-color: $c_grey;
                            height: calc(100% - 20px);
                            border-radius: 5px;
                            transition: all .5s;


                            .normal {
                                li {
                                    list-style: none;
                                    padding: 10px;
                                    color: #F7F4ED;
                                    transition: all .3s;
                                }

                                li:hover {
                                    cursor: pointer;
                                    background-color: $c_light_grey;
                                    transition: all .3s;
                                    border-radius: 5px;

                                }
                            }

                            #selected {
                                background-color: $c_light_grey_text;
                                border-radius: 5px;

                            }
                        }

                        .t_window_inner_content {
                            margin: 10px 10px 10px 0px;
                            background-color: $c_dark_grey;
                            border-radius: 5px;
                            box-sizing: content-box;
                            width: 100%;
                            height: calc(100% - 20px);
                            display: flex;


                            .window_content {
                                height: 100%;
                                width: 100%;
                                overflow-y: scroll;
                                border-radius: 5px;
                            }
                        }

                        .content {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {


    .t_window_inner_nav {
        max-width: 50px;
        min-width: 50px;

        .sandwitch {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            width: 50px;
            height: 40px;

            .line {
                margin: 5px;
                width: 35px;
                height: 5px;
                border-radius: 3px;
                background-color: $c_dark_grey;
            }

        }

        .sandwitch:hover {
            cursor: pointer;
            transition: all .3s;
            background-color: $c_light_grey_text;
            border-radius: 5px;
        }

        .normal {
            display: none;
        }
    }

    #menu_button_pressed {
        // z-index: 2;
        // position: absolute;
        max-width: 200px !important;
        min-width: 200px !important;

        .normal {
            display: block;
        }

        .sandwitch {
            display: none !important;

        }


    }

    // #menu_button_pressed+.t_window_inner_content {
    //     z-index: 0;
    //     position: absolute;
    //     left: 60px;
    //     width: calc(100% - 70px);
    // }



    .cards {
        position: relative;
        flex-wrap: wrap;
    }

    #focus {
        width: 600px;
        height: calc($t_window_size + 30vh);
        margin-top: 0;
    }

}


@media only screen and (max-width: 600px) {
    .editor {
        display: none;
    }

    .term {
        display: none;
    }

    .learn {
        .cards {
            grid-template-columns: 100% 0% !important;

            .docs {
                grid-column: 1 / 2 !important;
                grid-row: 1 / 3 !important;

            }
        }
    }
}